# 1. if two users have less than 5 movies in common, skip this users

In [1]:
import pandas as pd
import numpy as np

In [2]:
from MovieRecommend import train_test_seen_unseen, weight_calculator, predict_ur_score, pred_score_for_user_i, raw_to_pred

In [3]:
rating = pd.read_csv('rating.csv', index_col=0)

C:\Users\taliu\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [4]:
rating.head()

        movieId  rating            timestamp
userId
1             2     3.5  2005-04-02 23:53:47
1            29     3.5  2005-04-02 23:31:16
1            32     3.5  2005-04-02 23:33:39
1            47     3.5  2005-04-02 23:32:07
1            50     3.5  2005-04-02 23:29:40

In [5]:
flattened = pd.DataFrame(rating.to_records())

In [6]:
flattened.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [7]:
sample = flattened.head(100000)

In [8]:
user_movie_table = pd.pivot_table(sample, index=['userId'], columns=['movieId'])

In [9]:
train, test, watched_index, unseen_index = train_test_seen_unseen(user_movie_table, 1)

In [10]:
w = weight_calculator(user_movie_table, 1, 2)

In [11]:
import operator

In [12]:
socre_1_3 = predict_ur_score(user_movie_table, 1, 2, 10)

In [25]:
index, score = pred_score_for_user_i(user_movie_table, 1, test, 10)

In [26]:
pred = pd.DataFrame()
pred['movieId'] = index
pred['raw_score'] = score
pred['pred_score'] = [raw_to_pred(x) for x in score]
pred = pred.set_index(keys='movieId')
# pred

In [27]:
true_score = pd.DataFrame(pd.DataFrame(user_movie_table.ix[1, test]).to_records()).drop('level_0', axis=1)
true_score.columns = ['movieId', 'true_score']
true_score = true_score.set_index('movieId')
# true_score

C:\Users\taliu\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [28]:
pred.join(true_score, on='movieId')

         raw_score  pred_score  true_score
movieId
589       4.239343         4.0         3.5
1304      4.123392         4.0         3.0
2944      4.121597         4.0         4.0
2118      4.117889         4.0         4.0
593       4.044258         4.0         3.5
1387      3.995203         4.0         4.0
6807      3.923793         4.0         3.5
1222      3.831728         4.0         3.5
1243      3.790390         4.0         3.0
2918      3.684654         3.5         3.5
2648      3.671030         3.5         3.5
3476      3.663616         3.5         3.5
919       3.600142         3.5         3.5
5146      3.489819         3.5         3.5
31696     3.465979         3.5         4.0
8690      3.403906         3.5         3.5
2         3.217368         3.0         3.5
3438      3.128318         3.0         3.5

# it looks good :D