1. pivot talbe of user movie table
2. calculate the weights between users
3. calculate the rating for i users

In [1]:
import pandas as pd

In [2]:
rating = pd.read_csv('rating.csv', index_col=0)

/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
# link = pd.read_csv('link.csv', index_col=0)
# movie = pd.read_csv('movie.csv', index_col=0)
# genome_tags = pd.read_csv('genome_tags.csv', index_col=0)

In [3]:
rating.head()

        movieId  rating            timestamp
userId
1             2     3.5  2005-04-02 23:53:47
1            29     3.5  2005-04-02 23:31:16
1            32     3.5  2005-04-02 23:33:39
1            47     3.5  2005-04-02 23:32:07
1            50     3.5  2005-04-02 23:29:40

In [5]:
flattened = pd.DataFrame(rating.to_records())

In [6]:
flattened.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [7]:
test = flattened.head(1000000)

In [8]:
user_moive = pd.pivot_table(test, index=['userId'], columns=['movieId'])

In [9]:
user_moive.head()

        rating                                                                 \
movieId 1      2      3      4      5      6      7      8      9      10
userId
1          NaN    3.5    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2          NaN    NaN    4.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3          4.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4          NaN    NaN    NaN    NaN    NaN    3.0    NaN    NaN    NaN    4.0
5          NaN    3.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

         ...                                                                   \
movieId  ...   129350 129354 129428 129707 130052 130073 130219 130462 130490
userId   ...
1        ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2        ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3        ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4        ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
5        ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN


movieId 130642
userId
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN

[5 rows x 13950 columns]

In [ ]:
#find two users pearson correlation

In [17]:
import numpy as np

In [42]:
mu = user_moive.T

In [59]:
use1 = mu[1]
use2 = mu[2]

In [60]:
x1_mean = use1.mean()
x2_mean = use1.mean()

In [61]:
temp_com = mu[[1,2]].dropna()
temp_com

userId            1    2
       movieId
rating 260      4.0  5.0
       541      4.0  5.0
       589      3.5  5.0
       924      3.5  5.0
       1196     4.5  5.0
       1214     4.0  5.0
       1249     4.0  5.0
       1259     4.0  5.0
       2291     4.0  2.0

In [67]:
do_sum = list(map(lambda x,y : (x-x1_mean)*(x-x2_mean), temp_com[1],temp_com[2]))

In [73]:
numerator = np.array(do_sum).sum()
numerator

1.0879591836734694

In [76]:
use1_watched = use1.dropna()
use2_watched = use1.dropna()

In [84]:
left_corner = np.array(list(map(lambda x : (x-x1_mean)**2, use1_watched))).sum()**0.5

In [86]:
right_corner = np.array(list(map(lambda x : (x-x2_mean)**2, use2_watched))).sum()**0.5

In [87]:
denominator = left_corner * right_corner

In [89]:
weight_1_2 = numerator/denominator

In [90]:
weight_1_2

0.042784911717496