1. pivot talbe of user movie table
2. calculate the weights between users
3. calculate the rating for i users

In [1]:
import pandas as pd

In [2]:
rating = pd.read_csv('rating.csv', index_col=0)

/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
# link = pd.read_csv('link.csv', index_col=0)
# movie = pd.read_csv('movie.csv', index_col=0)
# genome_tags = pd.read_csv('genome_tags.csv', index_col=0)

In [4]:
rating.head()

        movieId  rating            timestamp
userId
1             2     3.5  2005-04-02 23:53:47
1            29     3.5  2005-04-02 23:31:16
1            32     3.5  2005-04-02 23:33:39
1            47     3.5  2005-04-02 23:32:07
1            50     3.5  2005-04-02 23:29:40

In [5]:
flattened = pd.DataFrame(rating.to_records())

In [6]:
flattened.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [7]:
test = flattened.head(1000000)

In [8]:
user_movie = pd.pivot_table(test, index=['userId'], columns=['movieId'])

In [9]:
user_movie.head()

        rating                                                                 \
movieId 1      2      3      4      5      6      7      8      9      10
userId
1          NaN    3.5    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2          NaN    NaN    4.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3          4.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4          NaN    NaN    NaN    NaN    NaN    3.0    NaN    NaN    NaN    4.0
5          NaN    3.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

         ...                                                                   \
movieId  ...   129350 129354 129428 129707 130052 130073 130219 130462 130490
userId   ...
1        ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2        ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3        ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4        ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
5        ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN


movieId 130642
userId
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN

[5 rows x 13950 columns]

In [10]:
#find two users pearson correlation

In [11]:
import numpy as np

In [13]:
def weight_calculator(user_movie_table, index1, index2):
    """find pearson corr between two users
    Parameters
    --------------
    user_movie_table : pd.DataFrame
        user_movie rating info
    index1, index2 : Integer
        pointer in table
    """
    mu = user_movie_table.T
    user1 = mu[index1]
    user2 = mu[index2]
    common = mu[[index1,index2]].dropna()
    user1_watched = user1.dropna()
    user2_watched = user2.dropna()
    
    x1_mean = user1.mean()
    x2_mean = user2.mean()
    numerator = np.array(list(map(lambda x,y : (x-x1_mean)*(x-x2_mean), common[index1],common[index2]))).sum()
    
    left_corner = np.array(list(map(lambda x : (x-x1_mean)**2, user1_watched))).sum()**0.5
    right_corner = np.array(list(map(lambda x : (x-x2_mean)**2, user2_watched))).sum()**0.5
    denominator = left_corner * right_corner
    
    weight_between_two_users = numerator/denominator
    
    return weight_between_two_users

In [14]:
w = weight_calculator(user_movie, 3, 3)

# NOTE: I found the weight for a person to himself is not 1!